@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

/* body {
    font-family: 'Manrope', sans-serif;
}

h1,
h2 {
    font-family: 'Space Grotesk', sans-serif;
}

code {
    font-family: 'JetBrains Mono', monospace;
} */

::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

body {
    scrollbar-width: none;
}